{
  "contracts": {
    "FreelanceEscrow": "./contracts/FreelanceEscrow.cdc"
  },
  "networks": {
    "emulator": "127.0.0.1:3569",
    "testnet": "access.devnet.nodes.onflow.org:9000",
    "mainnet": "access.mainnet.nodes.onflow.org:9000"
  },
  "accounts": {
    "emulator-account": {
      "address": "f8d6e0586b0a20c7",
      "key": "REPLACE_WITH_YOUR_KEY"
    },
    "freelancer-account": {
      "address": "179b6b1cb6755e31",
      "key": "REPLACE_WITH_YOUR_KEY"
    }
  },
  "deployments": {
    "emulator": {
      "emulator-account": ["FreelanceEscrow"]
    }
  },
  "dependencies": {
    "FungibleToken": {
      "source": "mainnet://f233dcee88fe0abe.FungibleToken",
      "aliases": {
        "emulator": "0xee82856bf20e2aa6",
        "testnet": "0x9a0766d93b6608b7",
        "mainnet": "0xf233dcee88fe0abe"
      }
    },
    "FlowToken": {
      "source": "mainnet://1654653399040a61.FlowToken",
      "aliases": {
        "emulator": "0x0ae53cb6e3f42a79",
        "testnet": "0x7e60df042a9c0868",
        "mainnet": "0x1654653399040a61"
      }
    }
  }
}
